.post-list {
    padding: 0;

    .post-item {
        margin-bottom: 1rem;
        margin-left: 0;
        list-style-type: none;

        .meta {
            display: block;
            margin-right: 16px;
            min-width: 100px;
            color: $color-meta;
            font-size: 18px;
        }
    }
}
@media (min-width: 480px) {
    .post-list {
        .post-item {
            display: flex;
            margin-bottom: 5px;

            .meta {
                text-align: left;
            }
        }
    }
}

.project-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
    margin: 0 -0.5rem;
    padding: 0;

    .project-item {
        background-color: #fff; /* Card background */
        border: 1px solid #ddd; /* Border for the card */
        border-radius: 8px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth transition for hover */
        margin: 0 0.5rem;
        padding: 1rem;

        &:hover {
            background-color: #f0f0f0;
        }

        * {
            margin: 0;
            padding: 0;
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}
